*.xcodeproj/
build/
DerivedData/
.build/
.swiftpm/
*.xcuserstate
build.log
Support/Info.plist
Support/Stubly.entitlements
Support/Widgets-Info.plist
Support/Widgets.entitlements
Config/Secrets.xcconfig
dist/
